@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.logo {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-size: 0.875rem;
}

button {
    height: 68px;
    max-width: 261px;
    min-width: 250px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}


@media only screen and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 768px;
        min-width: 250px;
        padding: 25px;
        
    }

    .scarecrow {
        max-width: 100%;
        padding: 1.5rem 0;
    }

    .content {
        max-width: 100%;
        margin: 0 auto;

    }
    .content p {
        padding: 2rem 0;
        line-height: 2.5;
        font-size: 1.125rem;
    }

    h2 {
        margin: 0 auto;
        max-width: 70%;
        padding-top: 2rem;
    }

}


@media only screen and (min-width: 769px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2.5rem;

    }

    .content {
        padding: 2.5rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .scarecrow {
        max-width: 60%;
        padding: 1.5rem 0;
    }

    .text {
        max-width: 50%;
        margin-left: 2.5rem;
    }

    .text h1 {
        font-size: 4rem;
    }
    .text p {
        padding: 2rem 0;
        line-height: 2.5;
        font-size: 1.5rem;
    }

    h2 {
        margin: 0 auto;
        width: 16.5%;
        padding-top: 2rem;
    }

}
